<!DOCTYPE html>

<html>

  {% include head.html %}

 <body>

    <div>

      <header class="header-background">
      
        <div class="container mx-auto px-2 mb-2 clearfix header-text">
          
          <div class="col-4 clearfix sm-width-full left mt-3 table">
                <img class="left mt-4 col-11" src="/images/logo.png" />
          </div>

          <h1 class="h0 clearfix  inline-block col-9 sm-width-full py-4 mt-3 header-title">{{ site.title }}</h1>

          <div class="clearfix mb-4 py-1">
            <div class="col-5 sm-width-full left border-top-thin">
              <p class="h4 lh-condensed font-smoothing mt-2 py-1">{{ site.description }}
              </p>
            </div>
          </div>

        </div>
      </header>

      <article class="clearfix container px-2 mx-auto mb-4">
      	<h2 class="mb-3 py-2 bold  h1">Struktura Kursu </h2>
		 <div class="col-5 left sm-width-full  border-top-thin">
		 </div>
		 <div class="col-8 left sm-width-full mt-2 mb-2">
		 	<div class="prose">
		    <h5 class="no-underline h5 bold text-accent">Design Thinking</h5>
	    	<ul style="list-style-type: none;">
	    		<li>Projekt: Wallet Challenge <sup>[1 zajęcia, 1 iteracja]</sup></li>
	    		<li>Wykład: <a href="https://dschool.stanford.edu/resources/design-thinking-bootleg">Design Thinking Bootleg</a></li>
	    		<li>Projekt: Ramen Challenge <sup>[1 zajęcia, 1 iteracja]</sup></li>
	    	</ul>
		    <h5 class="no-underline h5 bold text-accent">Design Thinking + Data Model Canvas</h5>
		    <ul style="list-style-type: none;">
		    	<li>Wykład: <a href="https://docs.google.com/presentation/d/e/2PACX-1vQrD89cb8lg5diCQhI_qrhHmvNbBmKJmwS22qhz2_DZJeyPsxdmtLGExdLN2JVa8ZrSGZId4sWFA_LD/pub?start=false&loop=false&delayms=3000">Data Model Canvas</a></li>
	    		<li>Projekt: Szeroki Spacer <sup>[3 zajęcia, 2 iteracje]</sup></li>
	    		<li>Projekt: Głębokie Zanurzenie  <sup>[4 zajęcia, 3 iteracje]</sup></li>
	    	</ul>
		    <h5 class="no-underline h5 bold text-accent">Projekt Magisterski</h5>		    	
	    	<ul style="list-style-type: none;">
	    		<li>Projekt: Wyzwanie Magisterskie <sup>[5 zajęć, * iteracji]</sup></li>
	    	</ul>
		    </div>
	  </div>
	</article>

	<div class="clearfix py-4 lg-width-full" style="background: #fffff8">

      <article class="clearfix container px-2 mx-auto mb4">
      	<h2 class="mt-0 mb-3 py-2 bold  h1">Wybrane Projekty</h2>
		<h5 class="col-8 no-underline h5 bold text-accent">Semestr 2017/2018</h5>
      	 <div class="col-12 left sm-width-full mt-2 mb-2">
      	 	<a href="/projects/2018/SCOUT_prezentacja.pdf"><img class="left sm-width-full col-5 inline-block" src="/projects/2018/SCOUT.png" /></a>
      	 	<div class="col-6 sm-width-full prose left lg-ml-3 border-top-thin ">
	      	 	<h4 class="mt-0 mb-1 py-2 bold h4">SCOUT</h4>
	      	 	<p>Osoba zainteresowana zagranicznymi mediami chce wiedzieć jak piszą zagraniczne media pomimo bariery językowej.</p>
	      	 	<p><small><a href="/projects/2018/DMC-SCOUT.pdf">Data Model Canvas</a> | <a href="/projects/2018/SCOUT_prezentacja.pdf">Prezentacja</a></small></p>
      	 	</div>
      	 </div>
      	 <div class="col-12 left sm-width-full mt-2 mb-2">
      	 	<a href="/projects/2018/Prezentacja Projektu Ki67.pdf"><img class="left sm-width-full col-5 inline-block" src="/projects/2018/Ki67.png" /></a>
      	 	<div class="col-6 sm-width-full prose left lg-ml-3 border-top-thin ">
	      	 	<h4 class="mt-0 mb-1 py-2 bold h4">Ki67</h4>
	      	 	<p>Onkolodzy potrzebują narzędzia do szybszej i&nbsp;skutecznej diagnozy nowotworów, co pozwoli im na dobranie odpowiedniej strategii leczenia pacjentów.</p>
	      	 	<p><small><a href="/projects/2018/Prezentacja Projektu Ki67.pdf">Prezentacja</a></small></p>
      	 	</div>
      	 </div>
      	 <div class="col-12 left sm-width-full mt-2 mb-2">
      	 	<a href="/projects/2018/TripsGuide - prezentacja.pdf"><img class="left sm-width-full col-5 inline-block" src="/projects/2018/TripsGuide.png" /></a>
      	 	<div class="col-6 sm-width-full prose left lg-ml-3 border-top-thin ">
	      	 	<h4 class="mt-0 mb-1 py-2 bold h4">TripsGuide</h4>
	      	 	<p>Planowanie wycieczek dla użytkowników w nowym miejscu.</p>
	      	 	<p><small><a href="/projects/2018/TripsGuide – Data Model Canvas.pdf">Data Model Canvas</a> | <a href="/projects/2018/TripsGuide - prezentacja.pdf">Prezentacja</a></small></p>
      	 	</div>
      	 </div>
		</article>
	</div>

    <article class="clearfix container px-2 mx-auto mb4 py-4">
      	<h2 class="mb-3 py-2 bold  h1">Prowadzący</h2>
		<div class="prose col-12 sm-width-full">
		<p style="text-align: justify">Program opracował <a href="http://niedakh.net">Piotr Szymański</a> w&nbsp;oparciu o&nbsp;otwartodostępne materiały <a href="http://dschool.stanford.edu">Stanford d-school</a> oraz <a href="http://8wires.io">8wires.io</a>.</p>
		<p style="text-align: justify">Powyższy materiał jest realizowany jako część kursu <em>Wprowadzenie do Data Science</em> prowadzonego razem z&nbsp;prof. Przemysławem Kazienko, dr Piotrem Bródką i&nbsp;Anną Gilewską na pierwszym semestrze <a href="https://studiujdatascience.pl">specjalności magisterskiej Data Science</a> na Wydziale Informatyki i&nbsp;Zarządzania Politechniki Wrocławskiej.</p>
	  </div>
	</article>

    </div>

    

  </body>

</html>
